# macOS + Python
.DS_Store
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/

# Media/audio files (global)
*.mp4
*.mov
*.avi
*.mkv
*.webm
*.wav
*.flac

# Your dataset / large-data folders
data/
processed/
synced_pairs/
CFDD_dataset/
megafishdetector/datasets
taylor_labels/
yolo_dataset_merged/
danger_labels/

# Large generated outputs in subprojects
XAV-arrays/localization/debug_detection_frames/
XAV-arrays/localization/out_heat_csv/
XAV-arrays/localization/out_synced_pairs/
XAV-arrays/localization/simulated_annealing_results/

# Optional: common training artifacts
*.pt
*.pth
*.ckpt

# YOLOv5 generated outputs
megafishdetector/yolov5/logs/
megafishdetector/yolov5/runs/
megafishdetector/yolov5/wandb/
megafishdetector/yolov5/fish-heatmap-modulation/
megafishdetector/yolov5/fish-heatmap-modulation-subset250-alpha-sweep/**/events.out.tfevents.*
megafishdetector/yolov5/fish-heatmap-modulation-subset250-alpha-sweep/**/hyp.yaml
megafishdetector/yolov5/fish-heatmap-modulation-subset250-alpha-sweep/**/opt.yaml

# Ultralytics YOLO generated outputs
megafishdetector/runs/
megafishdetector/wandb/
